#home {
  padding-top: 120px;
}

.slider {
  padding: 20px 0;
  padding-left: 10px;
}

.category_item {
  display: grid !important;
  grid-template-columns: 1fr 2fr !important;
  justify-content: center;
  align-items: center;
  width: 108px !important;
  gap: 0px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
}
.category_item svg {
  font-size: 24px;
}
.category_item p {
  font-size: 14px;
}
.category_item img {
  text-align: center;
}

.product_slider {
  padding-bottom: 32px;
}

.form {
  padding: 24px 20px;
  border-radius: 8px;
  background-color: #EFEFEF;
}
.form h4 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.form svg {
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 30px;
}
.form input {
  padding: 11px;
  padding-left: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 24px;
  outline: none;
  border: none;
}
.form form {
  position: relative;
}
.form button {
  position: absolute;
  right: 1px;
}

#pizzaSection {
  padding-top: 32px;
  padding-bottom: 32px;
}

#sushiSection, #zakuskiSection,
#desertsSection, #drinksSection {
  padding-bottom: 32px;
}

.pizza_home, .sushi_home,
.zakuski_home, .deserts_home,
.drinks_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pizza_home h2, .sushi_home h2,
.zakuski_home h2, .deserts_home h2,
.drinks_home h2 {
  font-size: 28px;
  font-weight: 600;
}
.pizza_home button, .sushi_home button,
.zakuski_home button, .deserts_home button,
.drinks_home button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 40px;
  color: #000;
  transition: 0.5s;
}
.pizza_home button svg, .sushi_home button svg,
.zakuski_home button svg, .deserts_home button svg,
.drinks_home button svg {
  font-size: 20px;
}
.pizza_home button:hover, .sushi_home button:hover,
.zakuski_home button:hover, .deserts_home button:hover,
.drinks_home button:hover {
  background-color: #000;
  color: #FFFFFF;
}

#home_info {
  padding-bottom: 32px;
}
#home_info h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}
#home_info p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}
#home_info span {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

.boxx {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  bottom: -100%;
  transition: 0.5s;
  z-index: 100;
  border-top: 1px solid #E2E2E2;
  background-color: #FFFFFF;
}
.boxx .closeBtn {
  position: absolute;
  padding: 20px;
  right: 0;
}
.boxx .closeBtn svg {
  font-size: 32px;
  stroke: #000;
}

.product_open {
  bottom: 0;
}

.product_image {
  text-align: center;
  padding: 10px 0;
}
.product_image img {
  width: 80%;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
}

.product_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}
.product_name svg {
  font-size: 24px;
  fill: red;
}
.product_name h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.product_type {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
.product_type > button {
  width: 50%;
}
.product_type button {
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 14px;
  background-color: #EDEDED;
}

.changeColor {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: black;
  transition: 0.5s;
}
.changeColor p {
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.moveLeft {
  transform: translateX(100%);
}

.addCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
}
.addCart p {
  font-size: 18px;
  font-weight: 700;
}
.addCart button {
  padding: 12px 30px;
  font-size: 14px;
  background-color: #000;
  border-radius: 48px;
  color: #FFFFFF;
}