nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #FFFFFF;
}

.navbar-top {
    background: #606060;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 20px;
        color: #FFFFFF;
    }
}

.top-left {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFFFFF;
    font-size: 26px;
    div {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        p {
            font-size: 12px;
        }
    }
}

.top-right {
    p {
        font-size: 12px;
    }
}

.navbar-bottom {
    border-bottom: 1px solid #E2E2E2;
    .container {
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.bottom-left {
    display: flex;
    align-items: center;
    gap: 12px;
    p {
        font-size: 18px;
    }
}

.toggle-navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 1000px;
    z-index: 1;
    transition: .5s;
    background-color: #FFFFFF;
    // transform: translateY(1000px);
}

.enter_account {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    p {
        font-size: 16px;
    }
    border-bottom: 1px solid #E2E2E2;
}

.toggle-links {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #E2E2E2;
    p {
        margin: 20px 0;
        font-size: 16px;
    }
}

.toggle-phone, .toggle-location {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    p {
        font-size: 14px;
    }
}

.toggle-phone {
    padding: 20px;
}

.toggle-location {
    font-size: 22px;
    gap: 8px;
    padding: 0 20px;
    padding-bottom: 20px;
}

.toggle-routine {
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    p {
        font-size: 12px;
    }
}

.open {
    top: 117px;
}